# World Education Statistics

Pour commencer l'analyse du fichier Data, je charge chacun des fichiers csv disponibles dans les ressources https://datacatalog.worldbank.org/search/dataset/0038480 Pour chacun de ces fichiers, j'affiche un aperçu et j'explique en quelques lignes ce qu'il contient.

### EdStatsData

Le fichier principal de 887 000 lignes, comprenant pour chaque pays différents indicateurs relatifs à l'éducation, le taux d'illetrisme, de chômage, de pauvreté, de réussite scolaire... sur des années allant de 1970 à 2065 (projection). A chaque indicateur est ajouté une définition courte. Les pays concernés sont aussi parfois réunis en zone régionales, par exemple sur l'aperçu : Arab World.

A cause de la grande quantité d'indicateurs présentés, le fichier est complexe à analyser, car tous les pays ne comprennent pas les mêmes indicateurs ni les mêmes périodes étudiées, qu'il y a parfois des regroupements de pays en régions, que les sources sont diverses et comprennent parfois des données locales, parfois des données de l'UNESCO, parfois des données de l'OCDE, etc.

In [4]:
import pandas as pd

data_db = pd.read_csv("/Users/claramoreschi/Desktop/Educ/EdStatsData.csv")

In [6]:
data_db.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### EdStatsSeries

Ce fichier apporte des informations complémentaires sur chacun des indicateurs présents dans le fichier Data, par exemple la source des données. Les colonnes les plus intéressantes pour l'analyse sont la colonne 'Topic', renseignée systématiquement, regroupant les indicateurs en fonction de leur thème; les colonne 'Limitations and exceptions', 'Statistical concept and methodology' et 'General comments', parfois renseignées, permettent d'avoir des éléments de réflexion sur le calcul des indicateurs et leur pertinence; enfin, 'Base period' permet de connaître la période sur laquelle porte les indicateurs.

In [7]:
series_db = pd.read_csv("/Users/claramoreschi/Desktop/Educ/EdStatsSeries.csv")
print("Les topics sont les suivants :",series_db['Topic'].unique())
series_db.head(3)

Les topics sont les suivants : ['Attainment' 'Education Equality' 'Infrastructure: Communications'
 'Learning Outcomes'
 'Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators'
 'Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators'
 'Economic Policy & Debt: Purchasing power parity'
 'Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita'
 'Teachers' 'Education Management Information Systems (SABER)'
 'Early Child Development (SABER)' 'Engaging the Private Sector (SABER)'
 'School Health and School Feeding (SABER)'
 'School Autonomy and Accountability (SABER)' 'School Finance (SABER)'
 'Student Assessment (SABER)' 'Teachers (SABER)'
 'Tertiary Education (SABER)' 'Workforce Development (SABER)' 'Literacy'
 'Background' 'Primary' 'Secondary' 'Tertiary' 'Early Childhood Education'
 'Pre-Primary' 'Expenditures' 'Health: Risk factors' 'Health: Mortality'
 'Social Protection & Labor: Labor force structure' 'Laber'
 'Social Protection & Labor: Unemployment' 'Health: Population: Structure'
 'Population' 'Health: Population: Dynamics' 'EMIS'
 'Post-Secondary/Non-Tertiary']

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### EdStatsCountry

Ce fichier indique la source des données pour les indicateurs de population SP.POP et les indicateurs économiques NY.GNP (produit national brut) et NY.GDP (produit intérieur brut) par pays. Ce fichier permet donc aussi de savoir quelles infos (pop,éco) sont disponibles pour chaque pays.

In [14]:
cs_db = pd.read_csv("/Users/claramoreschi/Desktop/Educ/EdStatsCountry-Series.csv")
cs_db.dropna(1).head(3)

/var/folders/s8/58zwbtyj47j_7hfjp549_hgh0000gn/T/ipykernel_16606/1610910291.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  cs_db.dropna(1).head(3)

  CountryCode   SeriesCode                                        DESCRIPTION
0         ABW  SP.POP.TOTL  Data sources : United Nations World Population...
1         ABW  SP.POP.GROW  Data sources: United Nations World Population ...
2         AFG  SP.POP.GROW  Data sources: United Nations World Population ...

### EdStatsFootNote

Pour chaque indicateur, par pays, par année, l'origine des données.

In [13]:
footnote_db = pd.read_csv("/Users/claramoreschi/Desktop/Educ/EdStatsFootNote.csv")
footnote_db.dropna(1).head(3)

/var/folders/s8/58zwbtyj47j_7hfjp549_hgh0000gn/T/ipykernel_16606/104091761.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  footnote_db.dropna(1).head(3)

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.